body {
    padding: 0;
    text-align: center;
    color: turquoise;
    background-color: black;
  }

  .intro{
    height: 100px;
    width: 300px;
    
  }
  
  .game-intro {
    float: center;
    padding: 0% 10%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana"
  }
  
  
 
  body button {
    font-size: 19px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #game-board {
      float:inline-end;
      padding: 20px 0px;
  }

  canvas {
    background-image: url('/images/green-field.jpg');
    background-size: cover;
  }